<#@ template language="C#v" debug="true" hostspecific="true" #>
<#@ output extension=".generatedcode.cs" #>
<#@ Include File="T4LocalContent.settings.t4" #>
<#@ Include File="T4LocalContent.Generator.t4" #>
